#author {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

#author--heading {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-bottom: 15px;
}

.author--heading {
  font-size: 1.8em;
  font-family: "african";
  color: $text-primary;
}

#author--image {
  background-color: black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid $text-primary;
}

.author--blurb {
  font-size: 1.2em;
  font-family: "Nanda";
  font-weight: 900;
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
  color: $text-primary;
  text-align: justify;
  line-height: 110%;
}

@media (min-width: 567px) and (max-width: 767px) {
  #authorButtons {
    display: none;
  }

  #authorContainer {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  #authorHeadandImage {
    grid-template-columns: 1fr;
  }

  .authorHeading {
    font-size: 1.5em;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .authorHeading {
    font-size: 4em;
  }

  #authorImage {
    height: 200px;
    width: 200px;
    border: 4px solid white;
  }

  #authorBlurb {
    padding-top: 20px;
  }
  .authorBlurb {
    font-size: 2.5em;
  }
}

@media (min-width: 900px) {
  .authorHeading {
    font-size: 5em;
    padding-top: 50px;
  }

  #authorImage {
    height: 300px;
    width: 300px;
  }

  #authorBlurb {
    padding-top: 50px;
  }
}

@media (min-width: 1800px) {
}
