#author {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

#author--heading {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-bottom: 15px;
}

.author--heading {
  font-size: 1.8em;
  font-family: "african";
  font-weight: 400;
  color: $text-primary;
}

#author--image {
  background-color: black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid $text-primary;
}

.author--blurb {
  font-size: 1.2em;
  font-family: "Nanda";
  font-weight: 900;
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
  color: $text-primary;
  text-align: justify;
  line-height: 110%;
}
