/* Navbar CSS */

#navbar {
  height: 80px;
  @include flex(row);
  background: rgb(30, 30, 30); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(30, 30, 30, 1) 0%,
    rgba(30, 30, 30, 0.5) 70%,
    rgba(255, 255, 255, 0) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(30, 30, 30, 1) 0%,
    rgba(30, 30, 30, 0.5) 70%,
    rgba(255, 255, 255, 0) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(30, 30, 30, 1) 0%,
    rgba(30, 30, 30, 0.5) 70%,
    rgba(255, 255, 255, 0) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  #navbar--wildebeest {
    width: 50px;
  }

  #navbar--links {
    display: none;
    padding-right: 15px;

    .navbar--link {
      text-decoration: none;
      color: $text-primary;
      font-family: "Nanda";
      font-size: 1.3em;
      font-weight: 700;
      padding-right: 15px;
      outline: none;
    }
    .navbar--link-buy {
      color: $text-secondary;
      background: $background-color;
      padding: 15px;
      border-radius: 10px;
    }
  }
}
