#story {
  display: grid;
  grid-template-columns: 1fr;
}

.story--heading {
  font-size: 1.3em;
  font-family: "african";
  font-weight: 400;
  text-align: center;
  padding: 0 0 10px 0;
  color: $text-primary;
}

.book--blurb {
  font-size: 1.2em;
  font-family: "Nanda";
  font-weight: 900;
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
  color: white;
  text-align: justify;
  line-height: 110%;
}
