// Variables
$background-color: #e3891f;
$text-primary: #fff;
$text-secondary: #000;
$text-shadow: 1px 1px 3px rgba(41, 41, 41, 0.5);
$african : "african", "Nanda", sans-serif;
$nanda : "Nanda", cursive;

// Mixins



// Media Query Mixins
@mixin mediaPhoneLandscape {
  @media screen and (min-width: 567px) and (max-width: 599px) {
    @content;
  }
}
@mixin mediaSm {
  @media screen and (min-width: 600px) {
    @content;
  }
}
@mixin mediaMd {
  @media screen and (min-width: 900px) {
    @content;
  }
}
@mixin mediaLg {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1500px) {
    @content;
  }
}
