@import "config";

/* Imported Fonts from dafonts.com */
@font-face {
  font-family: "african";
  src: local("african"), url("../assets/fonts/african.ttf");
}

@font-face {
  font-family: "Nanda";
  src: local("Nanda"), url("../assets/fonts/Nanda.ttf");
}

/* CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set relative font size in ems on html */
html {
  font-size: 1em;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/images/newcover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}

main {
  @include flex(row);
  padding: 1em 1em;
}

/* Buttons CSS for mobile devices */
#screen--btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .screen--btn,
  .screen-btn-link {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: center;
    font-family: "Nanda";
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px 0 5px 0;
  }
}

@import "navbar";
@import "index";
@import "author";
@import "story";
@import "mobile";
