.book{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.details{
    text-align: center;
    margin-top: 20em;
    margin-bottom: 1em;
    @include mediaSm{
        margin-top: 8em; 
    }

    .title{
        font-size: 1.8rem;
        font-weight: 200;
        font-family: $african;
        @include mediaSm{
            font-size: 2.5rem;    
        }
    }
    .tagline{
        font-size: 1.3rem;
        @include mediaSm{
            font-size: 2rem;    
        }
    }
}

.cover{
    width: 100%;

    @include mediaSm{
        width: 60%;    
    }
    @include mediaLg{
        width: 40%;    
    }
    // @include mediaXl{
    //     width: 50%;    
    // }
    // .book-image{ 
        
    // }
}





