/* Imported Fonts from dafonts.com */
@font-face {
  font-family: "african";
  src: local("african"), url("../assets/fonts/african.ttf"); }

@font-face {
  font-family: "Nanda";
  src: local("Nanda"), url("../assets/fonts/Nanda.ttf"); }

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* Set relative font size in ems on html */
html {
  font-size: 1em; }

body {
  background-image: url("../assets/images/newcover.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black; }

main {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1em 1em; }

/* Buttons CSS for mobile devices */
#screen--btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #screen--btns .screen--btn,
  #screen--btns .screen-btn-link {
    width: 100%;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: center;
    font-family: "Nanda";
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    background: none;
    border: 2px solid white;
    border-radius: 5px;
    padding: 8px 0 5px 0; }

footer {
  height: 80px;
  text-align: center;
  color: #fff;
  font-family: "Nanda";
  background: black;
  background: -moz-linear-gradient(0deg, black 65%, rgba(0, 212, 255, 0) 100%);
  background: -webkit-linear-gradient(0deg, black 65%, rgba(0, 212, 255, 0) 100%);
  background: linear-gradient(0deg, black 65%, rgba(0, 212, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#00d4ff",GradientType=1); }
  footer a {
    text-decoration: none;
    color: #fff; }
    footer a:hover {
      color: #e3891f; }

/* Navbar CSS */
#navbar {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #1e1e1e;
  /* Old browsers */
  background: -moz-linear-gradient(top, #1e1e1e 0%, rgba(30, 30, 30, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #1e1e1e 0%, rgba(30, 30, 30, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #1e1e1e 0%, rgba(30, 30, 30, 0.5) 70%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e1e1e', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }
  #navbar #navbar--wildebeest {
    width: 50px; }
  #navbar #navbar--links {
    display: none;
    padding-right: 15px; }
    #navbar #navbar--links .navbar--link {
      text-decoration: none;
      color: #fff;
      font-family: "Nanda";
      font-size: 1.3em;
      font-weight: 700;
      padding-right: 15px;
      outline: none; }
    #navbar #navbar--links .navbar--link-buy {
      color: #000;
      background: #e3891f;
      padding: 15px;
      border-radius: 10px; }

#home {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "homeTitle" "homeImage"; }

#home--title {
  grid-area: homeTitle; }
  #home--title #home--heading {
    text-align: center;
    color: #fff;
    font-size: 1.7em;
    font-weight: 500;
    font-family: "african"; }
  #home--title #home--tagline {
    font-size: 1.2em;
    font-family: "Nanda", "Times New Roman", Times, serif;
    font-weight: 900;
    margin: 0;
    padding: 10px 0 10px 0;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 3px rgba(41, 41, 41, 0.5); }

#home--image {
  grid-area: homeImage;
  width: 100%; }
  #home--image-formats {
    width: 100%; }

#author {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr; }

#author--heading {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-bottom: 15px; }

.author--heading {
  font-size: 1.8em;
  font-family: "african";
  font-weight: 400;
  color: #fff; }

#author--image {
  background-color: black;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #fff; }

.author--blurb {
  font-size: 1.2em;
  font-family: "Nanda";
  font-weight: 900;
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
  color: #fff;
  text-align: justify;
  line-height: 110%; }

#story {
  display: grid;
  grid-template-columns: 1fr; }

.story--heading {
  font-size: 1.3em;
  font-family: "african";
  font-weight: 400;
  text-align: center;
  padding: 0 0 10px 0;
  color: #fff; }

.book--blurb {
  font-size: 1.2em;
  font-family: "Nanda";
  font-weight: 900;
  margin: 0;
  padding: 0 0 10px 0;
  text-align: center;
  color: white;
  text-align: justify;
  line-height: 110%; }

@media screen and (min-width: 569px) {
  /* Navbar Responsive */
  #navbar {
    justify-content: space-between; }
    #navbar #navbar--wildebeest {
      padding-left: 15px; }
    #navbar #navbar--links {
      display: block; }
  #screen--btns {
    display: none; }
  /* Home Responsive */
  #home {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "homeTitle   homeImage"; }
    #home #home--heading {
      font-size: 2em;
      padding-top: 80px; }
    #home #home--tagline {
      font-size: 1.4em; }
  /* Author Responsive */
  #author--heading {
    grid-template-columns: 1fr; }
  .author--heading {
    font-size: 3em;
    padding: 0; }
  #author--image {
    height: 150px;
    width: 150px;
    border: 3px solid #fff;
    margin-top: 10px; }
  .author--blurb {
    font-size: 1.7em; }
  /* Story Responsive */
  #story {
    grid-template-columns: 1fr 3fr; }
    #story .story--heading {
      padding: 0 15px 0 0;
      font-size: 1.6em; } }

@media screen and (min-width: 769px) {
  /* Navbar Responsive */
  #navbar {
    height: 100px; }
    #navbar #navbar--wildebeest {
      width: 80px; }
    #navbar #navbar--links .navbar--link {
      font-size: 2em; }
  /* Story Responsive */
  .book--blurb {
    font-size: 1.7em;
    padding: 0 0 20px 0;
    line-height: 120%; } }
